* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.name {
    font-size: 40px;
    color:rgb(0, 0, 0) ;
    background-color: white;
    padding-left:10% ;
    padding-right: 2%;
}

li {
    list-style: none;
    margin-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.list {
    display: flex;
    cursor: pointer;
    color: White;
    text-decoration: underline;
    font-size: 20px;
}

.heading {
    margin-top: 10%;
    margin-right: 1%;
    color: rgb(70, 70, 70);
}

.subtitle {
    margin-left: 77%;
    background-color: white;
    border: NONE;
    padding: 10px 25px 10px 25px;
    font-size: 175%;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5%;
}

.content {
    background-color: white;
    display: flex;
    position: absolute;
}

.vl {
    border-left: 6px solid rgb(0, 85, 85);
    height: 200px;
    position: absolute;
    left: 19%;
    margin-left: 8%;
    top: 47%;
  }

.about-me-text {
    position: absolute;
    margin-left: 30%;
    margin-right: 3%;
    margin-top: 2.5%;
}

.about-me {
    margin-left: 16%;
    color: rgb(0, 85, 85);
    font-size: 350%;
    position: absolute;
    text-align: right;
    margin-top: 1.5%;
}

  header {
    background: url(tech7.jpg) no-repeat center fixed;     
    background-size: cover;;
    padding-top: 1%;
    margin-top: 0;
}
